<Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Between">
    <Jumbotron Flex="Flex.Column.AlignContent.Center"
               Background="Background.Transparent"
               Width="Width.Is75"
               Margin="Margin.Is0.FromBottom.Is3.FromEnd"
               Padding="Padding.Is0">
        <JumbotronTitle Size="JumbotronTitleSize.Is2"
                        TextWeight="TextWeight.SemiBold">
            Samuel Dukes
        </JumbotronTitle>

        <Div>
            <JumbotronSubtitle TextWeight="TextWeight.SemiBold">
                I am a Northcoders Graduate Software Developer
            </JumbotronSubtitle>

            <JumbotronSubtitle TextWeight="TextWeight.SemiBold">
                With experience in many avenues of software development
                including: <br/> <br/>
                <Span TextWeight="TextWeight.Bold">
                    C#, .Net, Blazor, Kotlin, Java, Spring Boot, and Android Native
                </Span>
            </JumbotronSubtitle>
        </Div>
        
    </Jumbotron>
    <Figure Size="FigureSize.Is256x256">
        <Image
            Class="portfolio-photo"
            Source="img/sam.png"
            Text="Sam Dukes"
            Fluid="true"/>
    </Figure>
</Div>