@using Hangulizer.Data
@using Hangulizer.Service

<Column>
    <Heading3>
        Hangulizer
    </Heading3>

    <Paragraph>
        This project is a .NET console application that translates Korean characters into english phonetics.
    </Paragraph>

    <Fields ColumnSize="ColumnSize.IsAuto"
            Flex="Flex.Column">
        <Field>
            <FieldLabel>Translate hangul characters!</FieldLabel>
            <FieldBody>
                <MemoInput Placeholder="Type korean characters here..."
                           Rows="2"
                           @bind-Value="@HangulText"
                           Border="Border.Dark"
                           AutoSize
                           Style="resize: none;"/>
            </FieldBody>
        </Field>

        <Button Margin="Margin.Is2.OnY"
                Flex="Flex.AlignSelf.Start"
                Color="Color.Primary"
                Width="Width.Px(300)"
                Clicked="@HandleClick">
            Translate Now
        </Button>

        <Field>
            <FieldLabel>Results!</FieldLabel>
            <MemoInput Placeholder="Your translated text..."
                       Rows="2"
                       ReadOnly="true"
                       Value="@TranslatedText"
                       Border="Border.Dark"
                       AutoSize
                       Style="resize: none;"/>
        </Field>
    </Fields>
</Column>

@code {
    private string HangulText { get; set; } = "";
    private string TranslatedText { get; set; } = "";
    private HangulTranslator HangulTranslator { get; } = 
        new(HangulLibrary.Hangul);

    private void HandleClick()
    {
        TranslatedText = HangulTranslator.TranslateToPhonetic(HangulText);
        Console.WriteLine(TranslatedText);
    }
}