<Row Flex="Flex.Row.JustifyContent.Start" 
     Gap="Gap.Is5">
    <Button Type="ButtonType.Link"
            Color="Color.Secondary"
            To="projects"
            Width="Width.Auto">
        Find more projects here!
    </Button>

    <Button Type="ButtonType.Button"
            Color="Color.Secondary"
            Width="Width.Auto"
            Clicked="@HandleModalEvent">
        Contact
    </Button>
</Row>

@code {
    [Parameter] public EventCallback ShowModal { get; set; }

    private async Task HandleModalEvent()
    {
        if (ShowModal.HasDelegate)
        {
            await ShowModal.InvokeAsync();
        }
    }
}