<Div Flex="Flex.Row.Wrap.JustifyContent.Around" 
     Gap="Gap.Is2">
        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/csharp.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/dotnet.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/blazor.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/kotlin.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/java.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/spring.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Padding="Padding.Is3.Is0.FromBottom"
             Background="Background.White"
             Border="Border.Rounded.Dark"
             Shadow="Shadow.Small">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/android.png" Fluid="true"/>
            </Figure>
        </Div>
    </Div>
