@page "/contact"

<Container>
    <Column>
        <Heading Size="HeadingSize.Is1"
                 TextWeight="TextWeight.Bold"
                 Margin="Margin.Is5.FromBottom">
            Get in Touch
        </Heading>

        <Row Flex="Flex.Row.AlignItems.Start">
            <!-- Left Side: Contact Form -->
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is7.OnDesktop">
                <Card Border="Border.Is0"
                      Margin="Margin.Is0.FromStart"
                      Shadow="Shadow.None">
                    <CardBody Padding="Padding.Is0.FromTop.Is0.FromStart">
                        <Heading3 TextWeight="TextWeight.Bold"
                                  Padding="Padding.Is2.FromBottom">
                            Send a message
                        </Heading3>
                        <Form>
                            <Field>
                                <FieldLabel>Your Name</FieldLabel>
                                <Input Placeholder="John Developer"/>
                            </Field>

                            <Field Margin="Margin.Is3.FromTop">
                                <FieldLabel>Email Address</FieldLabel>
                                <TextInput Placeholder="john.doe@example.com"/>
                            </Field>

                            <Field Class="mt-3">
                                <FieldLabel>Subject</FieldLabel>
                                <TextInput Placeholder="Please help with my project..."/>
                            </Field>

                            <Field Class="mt-3">
                                <FieldLabel>Message</FieldLabel>
                                <MemoInput Rows="5" Placeholder="Type your message here..."/>
                            </Field>

                            <Button Color="Color.Primary"
                                    Type="ButtonType.Link"
                                    Class="w-100 mt-4 py-2 fw-bold">
                                Send Message
                            </Button>
                        </Form>
                    </CardBody>
                </Card>
            </Column>

            <!-- Right Side: Contact Details & Info -->
            
            </Row>
    </Column>
</Container>