<Bar TextColor="TextColor.Dark"
     Background="Background.Transparent">
    <BarBrand>
        <BarItem>
            <BarLink To="" 
                     TextColor="TextColor.Dark">
                Dooques
            </BarLink>
        </BarItem>
    </BarBrand>
    
    <BarEnd Flex="Flex.InlineFlex.Row.Wrap.NoWrap">
        <BarItem >
            <BarLink To="projects">
                <Button Background="Background.Info" TextColor="TextColor.Dark">
                    Projects
                </Button>
            </BarLink>
        </BarItem>
    </BarEnd>
</Bar>