<Div Flex="Flex.Row.AlignItems.Center">
    <Jumbotron Flex="Flex.Column.AlignContent.Center"
               Background="Background.Transparent"
               Width="Width.Is75"
               Margin="Margin.Is0.FromBottom">
        <JumbotronTitle Size="JumbotronTitleSize.Is2">
            Samuel Dukes
        </JumbotronTitle>
        
        <JumbotronSubtitle>
            I am a Northcoders Graduate Software Developer
        </JumbotronSubtitle>
        
        <JumbotronSubtitle>
            I have experience in many avenues of software development
            including: <br/> <br/>
            <b>C#, .Net, Blazor, Kotlin, Java, Spring Boot, and Android Native</b>.
        </JumbotronSubtitle>
    </Jumbotron>
    <Figure Size="FigureSize.Is256x256">
        <Image
            Class="portfolio-photo"
            Source="img/sam.png"
            Text="Sam Dukes"
            Fluid="true"/>
    </Figure>
</Div>