<Div Flex="Flex.Row.Wrap.JustifyContent.Center">
        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/csharp.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/dotnet.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/blazor.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/kotlin.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/java.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/spring.png" Fluid="true"/>
            </Figure>
        </Div>

        <Div Flex="Flex.Row.AlignItems.Center.JustifyContent.Start"
             Padding="Padding.Is3">
            <Figure Size="FigureSize.Is48x48">
                <Image Source="img/android.png" Fluid="true"/>
            </Figure>
        </Div>
    </Div>
