
@{
    ViewData["Title"] = "Dooques: Software Developer";
}

@inject IWebHostEnvironment webRootEnvironment;

@{
	var bio = File.ReadAllText(
		System.IO.Path.Combine(
			webRootEnvironment.WebRootPath, "text/bio.txt"));
	var bioSplit = bio.Split('\n');
	var bio1 = bioSplit[0];
	var bio2 = bioSplit[1];
}

<div>
	<section class="header-card">
		<div class="header-card">
			<h1 class="display-4">Samuel Dukes</h1>
			<p>Software Developer</p>
			<p>.NET, C#, Kotlin, Android, Kotlin Multiplatform, Jetpack Compose</p>
		</div>
		<img class="portfolio-photo" src="~/images/sam.png" alt="sam dukes">
	</section>
	<section class="about">
		<h2>About Me</h2>
		<p>
			@bio1
		</p>
		<p>
			@bio2
		</p>
	</section>


	<section class="projects">
		<div class="project-container">
			<h3>
				Hangulizer
			</h3>
			<p>
				This project is intended to translate Korean characters into english phonetics.
			</p>
			<form>
				<fieldset>
					<div>
						<label  for="hangulizer">Translate the characters!</label>
						@{
								var hangulText = "hangulText"; 
							}
							<textarea id="@hangulText" rows="2" , cols="30"></textarea>
					</div>
				</fieldset>
				<div>
					<button type="button" onclick="handleTranslation()">Translate Now</button>
				</div>
				<fieldset>
					<div>
						<label for="hangulizer">Results!</label>
						@{
							var translatedText = "translatedText";
						}
						<textarea id="@translatedText" rows="2" , cols="30" readonly>
							
						</textarea>
					</div>
				</fieldset>
			</form>
		</div>
	</section>
</div>

@section Scripts {
	<script src="~/js/site.js"></script>
}
