html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 10px 20px 60px 20px;
    background-color: #F5F5F5;
}

h1 {
    text-shadow: 0px 3px 5px #808080;
}


section.header-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width:100%;
    text-align: center;
}

img {
    max-width: 25%;
}

.about {
    margin: 20px 0 0 0;
    text-align: left;
}

fieldset > div {
    display: flex;
    flex-direction: column;
}